Repository BytedotGit/aether-blender: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-length, check-logging, check-tests-exist

check-file-length:
  name: Check file length (800 lines max)
  entry: python scripts/check_file_length.py
  language: system
  pass_filenames: true

check-logging:
  name: Check logging in src files
  entry: python scripts/check_logging.py
  language: system
  pass_filenames: true

check-tests-exist:
  name: Check tests exist for src files
  entry: python scripts/check_tests_exist.py
  language: system
  pass_filenames: true

feat(bridge): complete Phase 2 with full integration tests
  .aether_state.json
  ROADMAP.md
  scripts/check_logging.py
  scripts/install_addon.py
  src/blender_addon/__init__.py
  src/blender_addon/executor.py
  src/blender_addon/queue_handler.py
  src/blender_addon/server.py
  src/bridge/__init__.py
  src/bridge/client.py
  src/bridge/exceptions.py
  src/bridge/protocol.py
  tests/integration/test_bridge_integration.py
  tests/unit/test_blender_launch.py
  tests/unit/test_bridge_client.py
  tests/unit/test_bridge_protocol.py
Due: check-file-length, check-logging, check-tests-exist

fix(ci): add type annotations and CI validation requirements
  .github/copilot-instructions.md
  AGENTS.md
  src/blender_addon/executor.py
  src/blender_addon/queue_handler.py
Due: check-file-length, check-logging, check-tests-exist

fix(ci): use bash shell for Poetry PATH compatibility on Windows
  .github/workflows/ci.yml
Due: none

fix(ci): update Poetry to 1.8.0 for package-mode support
  .github/workflows/ci.yml
Due: none

fix(test): skip blender tests when Blender not installed
  tests/unit/test_blender_launch.py
Due: check-file-length

chore(state): update project state after CI fixes
  .aether_state.json
Due: none

feat(ai): implement Phase 3 AI integration layer
  .aether_state.json
  .env.example
  pyproject.toml
  src/ai/__init__.py
  src/ai/exceptions.py
  src/ai/gemini_provider.py
  src/ai/prompts/__init__.py
  src/ai/prompts/system.py
  src/ai/prompts/templates.py
  src/ai/provider.py
  src/executor/__init__.py
  src/executor/exceptions.py
  src/executor/history.py
  src/executor/retry.py
  src/executor/safe_exec.py
  tests/unit/test_ai_provider.py
  tests/unit/test_executor.py
  tests/unit/test_gemini_provider.py
Due: check-file-length, check-logging, check-tests-exist

feat(ai): complete Phase 3 AI integration with orchestration pipeline
  .aether_state.json
  src/ai/__init__.py
  src/ai/anthropic_provider.py
  src/ai/exceptions.py
  src/ai/factory.py
  src/ai/gemini_provider.py
  src/ai/openai_provider.py
  src/ai/provider.py
  src/executor/retry.py
  src/orchestrator/__init__.py
  src/orchestrator/exceptions.py
  src/orchestrator/pipeline.py
  tests/conftest.py
  tests/unit/test_anthropic_provider.py
  tests/unit/test_openai_provider.py
  tests/unit/test_orchestrator.py
  tests/unit/test_provider_factory.py
Due: check-file-length, check-logging, check-tests-exist

feat(gui): implement Phase 4 PyQt6 chat interface
  .aether_state.json
  src/gui/__init__.py
  src/gui/chat_panel.py
  src/gui/main_window.py
  src/gui/message_widget.py
  src/gui/settings_dialog.py
  src/gui/signals.py
  src/gui/status_bar.py
  src/gui/styles.py
  tests/unit/test_gui_signals.py
  tests/unit/test_gui_styles.py
Due: check-file-length, check-logging, check-tests-exist

feat(gui): implement toast notification manager
  .aether_state.json
  src/gui/__init__.py
  src/gui/signals.py
  src/gui/toast_manager.py
  tests/unit/test_gui_toast_manager.py
Due: check-file-length, check-logging, check-tests-exist

test(gui): add comprehensive unit tests for GUI components
  tests/unit/test_gui_chat_panel.py
  tests/unit/test_gui_main_window.py
  tests/unit/test_gui_message_widget.py
  tests/unit/test_gui_settings_dialog.py
  tests/unit/test_gui_status_bar.py
Due: check-file-length

chore: update project state with 453 tests
  .aether_state.json
Due: none

Path conditions:
  check-file-length: any of: \.py$
  check-logging: any of: ^src/ and \.py$ and not (^src/.*__init__\.py$)
  check-tests-exist: any of: ^src/ and \.py$ and not (^src/.*__init__\.py$)
